@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --background-color: #eaeaea;
  --background-color-section: #f6f6f6;
  --box-shadow: 0 4px 6px rgba(10, 10, 10, 0.22);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.main-container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  padding: 0 30px;
}
.navbar i {
  font-size: 24px;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
}
.navbar__logo__img {
  width: 180px;
  height: 30px;
}

img {
  display: block;
  width: 100%;
  height: 23vh;
  object-fit: cover;
}
@media (min-width: 1025px) {
  img {
    object-position: center-bottom;
    height: 52vh;
  }
}

.menu {
  position: relative;
  background-color: var(--background-color-section);
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  margin-top: -30px;
  box-sizing: border-box;
  z-index: 10;
}
@media (min-width: 767.8px) {
  .menu {
    width: 73%;
    margin: -25px auto;
  }
}
.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
  padding: 0 20px;
}
@media (min-width: 767.8px) {
  .menu__title {
    justify-content: center;
  }
  .menu__title h1 {
    padding: 40px;
    margin: 0;
  }
}
.menu__title i {
  position: absolute;
  right: 40px;
}
.menu__title .fas {
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease;
}
.menu__title:hover .fas {
  opacity: 1;
}
.menu__title h1 {
  line-height: 41px;
  font-style: italic;
  font-family: "shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
}

.menu__card {
  padding: 10px;
}
@media (min-width: 767.8px) {
  .menu__card {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1025px) {
  .menu__card {
    padding: 0 200px;
  }
}
.menu__card__title {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.menu__card__title span {
  padding-bottom: 5px;
  border-bottom: solid 4px #99e2d0;
}
.menu__card .menu-element {
  display: flex;
  overflow: hidden;
  align-items: end;
  border-radius: 1rem;
  background-color: white;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.menu__card .menu-element__description {
  padding: 1rem 0 1rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card .menu-element__description h4,
.menu__card .menu-element__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card .menu-element__description p {
  margin-top: 4px;
  font-size: 15px;
}
.menu__card .menu-element__prix {
  margin-bottom: 30px;
  font-weight: 900;
  margin-left: auto;
  margin-bottom: 0;
  padding: 1rem 1rem 1rem 0;
}
.menu__card .menu-element__check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary-color);
  width: 4rem;
  height: 74px;
  margin-right: -4rem;
  transition: margin-right 0.5s ease;
}
.menu__card .menu-element__check__elips {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}
.menu__card .menu-element__check i {
  color: #99e2d0;
  font-size: medium;
}
.menu__card .menu-element:hover .menu-element__check {
  margin-right: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__card {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.menu__card:nth-of-type(1) {
  animation-delay: 1.5s;
}

.menu__card:nth-of-type(2) {
  animation-delay: 2.5s;
}

.menu__card:nth-of-type(3) {
  animation-delay: 3.5s;
}

.resto__button {
  display: flex;
  justify-content: center;
}
.resto__button__order {
  height: 50px;
  width: 186px;
  background: linear-gradient(to bottom, #ff79da, rgb(120, 43.75, 211.25));
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0px 35px 0px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute une transition pour l'animation */
}
@media (min-width: 1025px) {
  .resto__button__order {
    margin-top: 20px;
  }
}
.resto__button__order:hover {
  background: linear-gradient(to bottom, rgb(255, 146.5, 225.0410447761), rgb(160.5, 107.125, 224.375));
  box-shadow: 0 12px 24px rgba(30, 30, 30, 0.2); /* Ajoute une ombre plus grande au survol */
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 25px;
  height: auto;
  background-color: black;
  box-sizing: border-box;
  margin-top: auto;
}
@media (min-width: 767.8px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end; /* Aligne les éléments à droite pour les grands écrans */
    align-items: flex-end;
    height: 114px;
  }
}
.footer__logo {
  width: 126px;
  height: 22px;
  filter: invert(1);
  margin-bottom: 20px;
}
@media (min-width: 767.8px) {
  .footer__logo {
    order: 1;
    padding: 0 40px;
    margin-bottom: 5px;
  }
}
.footer__list {
  color: white;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 767.8px) {
  .footer__list {
    display: flex;
    flex-direction: row;
  }
}
.footer__list ul {
  padding: 0;
  margin: 0; /* Enlève le margin des listes */
  list-style: none; /* Enlève les puces des éléments <li> */
}
@media (min-width: 767.8px) {
  .footer__list ul {
    padding: 0 20px;
  }
}
.footer__list--primary {
  font-weight: bold; /* Met le texte en gras */
}
@media (min-width: 767.8px) {
  .footer__list--secondary {
    gap: 8px;
    margin-bottom: 0;
  }
}
.footer__list--secondary, .footer__list--primary {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767.8px) {
  .footer__list--secondary, .footer__list--primary {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.footer__list li {
  list-style-type: none; /* Enlève les puces des éléments <li> */
  padding: 0; /* Enlève le padding des éléments <li> */
  margin: 5px 0; /* Ajoute un espace entre les éléments <li> */
}
@media (min-width: 767.8px) {
  .footer__list li {
    display: flex;
    padding: 0;
    gap: 20px;
    margin: 0px;
  }
}
.footer__list i {
  width: 11px;
  height: 15px;
  margin-right: 20px;
}
@media (min-width: 767.8px) {
  .footer__list i {
    margin-right: 0px;
  }
}
