* {
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --background-color: #eaeaea;
  --background-color-section: #f6f6f6;
  --box-shadow: 0 4px 6px rgba(10, 10, 10, 0.22);
}
$primary-color: #9356dc;
$secondary-color: #ff79da;

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}
.main-container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  padding: 0 30px;
  i {
    font-size: 24px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63px;

    &__img {
      width: 180px;
      height: 30px;
    }
  }
}
