* {
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --background-color: #eaeaea;
  --background-color-section: #f6f6f6;
  --box-shadow: 0 4px 6px rgba(10, 10, 10, 0.22);
}
$primary-color: #9356dc;
$secondary-color: #ff79da;
body {
  width: 100%;
  margin: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  background-color: var(--background-color-section);
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  padding: 0 30px;
  i {
    font-size: 24px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63px;

    &__img {
      width: 180px;
      height: 30px;
    }
  }
}
.Image img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.menu {
  position: absolute;
  background-color: var(--background-color-section);
  width: 100%;
  height: auto;
  z-index: 10;
  top: 283px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-sizing: border-box;
  &__title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;

    i {
      position: absolute;
      right: 40px;
    }
    .fas {
      color: transparent;
      background: linear-gradient($primary-color, $secondary-color);
      background-clip: text;
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      transition: all 200ms ease;
    }
    &:hover .fas {
      opacity: 1;
    }

    h1 {
      line-height: 41px;
      font-style: italic;
      font-family: "shrikhand", serif;
      font-weight: 400;
      font-size: 28px;
    }
  }
}
.menu__card {
  padding: 10px;

  &__title {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;

    text-transform: uppercase;

    span {
      padding-bottom: 5px;
      border-bottom: solid 4px #99e2d0;
    }
  }

  .menu-element {
    display: flex;
    overflow: hidden;
    align-items: end;
    border-radius: 1rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    box-sizing: border-box;

    &__description {
      padding: 1rem 0 1rem 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      h4,
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        margin-top: 4px;
        font-size: 15px;
      }
    }

    &__prix {
      margin-bottom: 30px;
      font-weight: 900;
      margin-left: auto;
      margin-bottom: 0;
      padding: 1rem 1rem 1rem 0;
    }

    &__check {
      display: flex;
      align-items: center;
      justify-content: center;
      $button-width: 4rem;
      background-color: var(--tertiary-color);
      width: $button-width;
      height: 74px;
      margin-right: -$button-width;
      transition: margin-right 0.5s ease;

      &__elips {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        font-size: 12px;
        font-weight: bold;
        margin-right: 10px;
      }

      i {
        color: #99e2d0;
        font-size: medium;
      }
    }
    &:hover .menu-element__check {
      margin-right: 0;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu__card {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.menu__card:nth-of-type(1) {
  animation-delay: 1.5s;
}

.menu__card:nth-of-type(2) {
  animation-delay: 2.5s;
}

.menu__card:nth-of-type(3) {
  animation-delay: 3.5s;
}

.resto__button {
  display: flex;
  justify-content: center;

  &__order {
    height: 50px;
    width: 50%;
    background: linear-gradient(
      to bottom,
      darken($secondary-color, 0%),
      darken($primary-color, 10%)
    );
    color: white;
    margin: 30px 0 45px 0;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute une transition pour l'animation */

    &:hover {
      background: linear-gradient(
        to bottom,
        lighten($secondary-color, 5%),
        lighten($primary-color, 5%)
      );
      box-shadow: 0 12px 24px rgba(30, 30, 30, 0.2); /* Ajoute une ombre plus grande au survol */
    }
  }
}

.footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 25px;
  height: auto;
  background-color: black;
  box-sizing: border-box;
  margin-bottom: 0;
  z-index: 10;

  @media (min-width: 767.8px) {
    flex-direction: row;
    justify-content: flex-end; /* Aligne les éléments à droite pour les grands écrans */
    align-items: flex-end;
    height: 114px;
  }

  &__logo {
    width: 126px;
    height: 22px;
    filter: invert(1);

    margin-bottom: 20px;

    @media (min-width: 767.8px) {
      order: 1;
      padding: 0 40px;
      margin-bottom: 5px;
    }
  }

  &__list {
    color: white;

    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    @media (min-width: 767.8px) {
      display: flex;
      flex-direction: row;
    }

    ul {
      padding: 0;
      margin: 0; /* Enlève le margin des listes */
      list-style: none; /* Enlève les puces des éléments <li> */

      @media (min-width: 767.8px) {
        padding: 0 20px;
      }
    }

    &--primary {
      font-weight: bold; /* Met le texte en gras */
    }

    &--secondary {
      @media (min-width: 767.8px) {
        gap: 8px;
        margin-bottom: 0;
      }
    }

    &--secondary,
    &--primary {
      display: flex;

      flex-direction: column;
      @media (min-width: 767.8px) {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }

    li {
      list-style-type: none; /* Enlève les puces des éléments <li> */
      padding: 0; /* Enlève le padding des éléments <li> */
      margin: 5px 0; /* Ajoute un espace entre les éléments <li> */

      @media (min-width: 767.8px) {
        display: flex;
        padding: 0;
        gap: 20px;
        margin: 0px;
      }
    }

    i {
      width: 11px;
      height: 15px;
      margin-right: 20px;
      @media (min-width: 767.8px) {
        margin-right: 0px;
      }
    }
  }
}
