@charset "UTF-8";
.card {
  background-color: white;
  border-radius: 20px;
  padding: 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: auto;
}
.card img {
  object-fit: cover;
}
.card .card-title {
  font-size: 16px;
}

.restaurant {
  padding: 10px;
  margin-top: 15px;
  background-color: var(--background-color-section);
}
.restaurant__title {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.restaurant .blocCards {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  margin-bottom: 50px;
}
.restaurant .blocCards__card {
  box-sizing: border-box;
  padding: 0px;
}
.restaurant .blocCards__card__img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant .blocCards__card__card-content {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.restaurant .blocCards__card__card-content__card-txt {
  margin-top: 10px;
}
.restaurant .blocCards__card__card-content__card-txt__card-title {
  margin: 0px;
}
.restaurant .blocCards__card__card-content__card-txt__card-subtitle {
  margin: 5px 0 10px;
}
.restaurant .blocCards__card__card-content__card-txt .heart-icon::before {
  position: absolute;
  right: 1rem;
  top: 80%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Font Awesome solid style */
  content: "\f004"; /* Code Unicode pour l'icône du cœur */
  font-size: 1.5rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black; /* Contour noir */
  transition: all 200ms ease-in-out;
}
.restaurant .blocCards__card__card-content__card-txt .heart-icon::after {
  position: absolute;
  right: 1rem;
  top: 80%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Font Awesome solid style */
  content: "\f004"; /* Code Unicode pour l'icône du cœur */
  font-size: 1.5rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black; /* Contour noir */
  transition: all 200ms ease-in-out;
  background: linear-gradient(45deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.restaurant .blocCards__card__card-content__card-txt .heart-icon:hover::after {
  opacity: 1;
}
.restaurant .blocCards__card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--tertiary-color);
  width: 80px;
  height: 30px;
  right: 20px;
  font-size: small;
}
@media (min-width: 767.8px) {
  .restaurant .blocCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 50px;
    padding: 0px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1025px) {
  .restaurant .blocCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
    margin-bottom: 25px;
  }
}
@media (min-width: 767.8px) {
  .restaurant {
    padding: 0 30px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1025px) {
  .restaurant {
    padding: 0 180px;
    margin-bottom: 0px;
  }
}
