@use "sass:color";
@import "../utils/variables";

.info {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--background-color-section);
  box-sizing: border-box;

  &__title,
  &__subtitle {
    display: flex;
    margin: 0;
    text-align: center;
  }

  &__title {
    width: 73%;
    margin-top: 10px;
  }

  &__subtitle {
    width: 84%;
  }

  @media (min-width: 768px) {
    &__title,
    &__subtitle {
      width: 100%;
      justify-content: center;
    }

    &__title {
      font-size: 40px;
    }
  }

  &__button {
    height: 50px;
    background: linear-gradient(
      to bottom,
      color.adjust($secondary-color, $lightness: 0%),
      color.adjust($primary-color, $lightness: -10%) 200%
    );
    color: white;
    margin: 10px 0 25px;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: transform 7s ease, box-shadow 0.3s ease; /* Ajoute une transition pour l'animation */

    &:hover {
      background: linear-gradient(
        to bottom,
        color.adjust($secondary-color, $lightness: 5%),
        color.adjust($primary-color, $lightness: 20%) 200%
      );

      box-shadow: $box-shadow-hover; /* Ajoute une ombre plus grande au survol */
    }
  }
}
