.navbar {
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(20, 20, 20, 0.2);
    z-index: 12;
    &__img {
      width: 180px;
      height: 30px;
    }
  }

  &__search {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;

    background-color: #eaeaea;
    box-shadow: 0 2px 6px rgba(20, 20, 20, 0.3);
    z-index: 10;

    &__input-button,
    &__input-text {
      border: none;
      background: var(--background-color-header);
    }
    &__input-button {
      padding: 0px;

      i {
        font-size: 18px;
        margin-left: 60px;
      }
    }
    &__input-text {
      height: 47px;
      margin-left: 20px;
      &::placeholder {
        color: black;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  @media (min-width: 1024px) {
    &__logo,
    &__search {
      box-shadow: none;
    }
  }
}
