@use "../utils/mixins";

.resto__button {
  display: flex;
  justify-content: center;
  @media (min-width: 767.8px) {
    margin-bottom: 30px;
  }

  &__order {
    @include mixins.button(10px 40px);
  }
}
